<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipe: {{recipe.recipe_name}}</title>
    <script src="/static/scripts/recipe.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
<body>
    <h2>{{recipe.recipe_name}}</h2>
    <p>{{recipe.description}}</p>
    <p>Difficulty: {{recipe.difficulty}}</p>
    <p>Rating: {{recipe.rating}}</p>

    <div id="delete-recipe">
      {%if admin%}
        <p><input idd="recipeID" type="hidden" value="{{recipe.id}}"></p>
        <p><button id="delete-button"><a href = "/del/{{recipe.id}}">Delete Recipe</button></p>
      {%endif%}
    </div>

    <button id="home-button"><a href="/">Home</button> <!--Make sure this is good practice, ADD BOOTSTRAP-->
</body>
</html>