:root {
  --dark: #d0d0d0;
  --light: #f0f0f0;
}

table {
  min-width: 1000px;
  margin: auto;
  /* background-color: #000000;
  /* border-style: solid;
  border-color: var(--dark); */
}

thead {
  font-weight: bold;
  background-color: var(--dark);
}

tbody {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: var(--dark);
}

tbody tr:nth-child(odd) {
  background-color: var(--light);
}

table tr td:nth-child(n+5) {
  text-align: center;
  background-color: #ffffff;
}