<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TypeScript Intro</title>
  <!-- link to the JavaScript source file -->
  <script src="/static/scripts/testing.js"></script>
  <!-- define a dummy fake favicon to avoid errors -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <!-- link to a minor CSS file -->
   <link rel="stylesheet" href="/static/styles/introJS.css">
</head>
<body>
  <main>
    <h1>Hello World!</h1>
  </main>
</body>
</html>