body {
    padding: 0px;
    margin: 0px;
    font-family: consolas, 'Courier New', Courier, monospace;
  }
  main {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50em;
    height: 100vh;
    margin: auto;
  }
  #intro {
    text-justify: auto;
  }
  #instructions li {
    margin: 0.5em;
  }